SERVER_HOST=localhost
SERVER_PORT=8080
GIN_MODE=release

DB_HOST=postgres
DB_PORT=5432
DB_NAME=picbed
DB_USER=postgres
DB_PASSWORD=123456ok!
DB_SSLMODE=disable

JWT_SECRET=d01d89338384ec62a468277a05bc9ff2db3ca4d607d86e457fc2e92a66049a17
JWT_EXPIRE_HOURS=24

APP_BASE_URL=http://localhost:5173
PASSWORD_RESET_TOKEN_TTL_MINUTES=5

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURITY=auto
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_FROM_NAME=
