SERVER_HOST=localhost
SERVER_PORT=8080
GIN_MODE=release

DB_HOST=postgres
DB_PORT=5432
DB_NAME=picbed
DB_USER=postgres
DB_PASSWORD=123456ok!
DB_SSLMODE=disable

JWT_SECRET=d01d89338384ec62a468277a05bc9ff2db3ca4d607d86e457fc2e92a66049a17
JWT_EXPIRE_HOURS=24
